<VirtualHost *:80>
	ServerAdmin webmaster@localhost
        ServerName mms

	DocumentRoot /usr/local/lib/python2.7/dist-packages/MailMergeService-2.5-py2.7.egg/mms/interfaces/

	WSGIScriptAlias / /usr/local/lib/python2.7/dist-packages/MailMergeService-2.5-py2.7.egg/mms/interfaces/apache.py
	<Directory /usr/local/lib/python2.7/dist-packages/MailMergeService-2.5-py2.7.egg/mms/interfaces/>
		Order allow,deny
                Allow from all
	</Directory>

	ErrorLog ${APACHE_LOG_DIR}/mms.error.log

	# Possible values include: debug, info, notice, warn, error, crit,
	# alert, emerg.
	LogLevel warn

	CustomLog ${APACHE_LOG_DIR}/mms.access.log combined

</VirtualHost>
